<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Show Info</title>

    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"
        integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
        crossorigin="anonymous"></script>

    <!-- Required meta tags for Bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    {{!-- Bootstrap CSS--}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    {{!-- Bootstrap JS --}}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>

    {{!-- Icons --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>

    {{!-- Navigation Bar --}}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="#">
            <i class="fas fa-cloud"></i>
            XCS ALGO TRADING
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="https://algo-trading-xcs.herokuapp.com/">Home </span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://algo-trading-xcs.herokuapp.com/addinfo">Add Info </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="https://algo-trading-xcs.herokuapp.com/showinfo">Show Info <span
                            class="sr-only">(current)</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://algo-trading-xcs.herokuapp.com/stockorder">Stock Order</a>
                </li>

                <li class=" nav-item">
                    <a class="nav-link" href="https://algo-trading-xcs.herokuapp.com/stockorderhistory">Stock Order
                        History</a>
                </li>
            </ul>
        </div>
    </nav>

    <br><br>

    <div class="container">
        <div class="row">
            <h3></h3>
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>


    <script>
        var socket = io.connect();
        socket.on("connection");
        socket.on("dbupdated", (payload) => {
            socket.emit("refreshData");
        });
        socket.on("showinfo", (data) => {

            var tableBody = document.querySelector("tbody");
            var tableRowsSize = tableBody.rows;
            for (var i = tableRowsSize.length - 1; i >= 0; i--) {
                tableBody.deleteRow(i);
            }

            const jsonObject = JSON.parse(data);
            for (var i = 0; i < jsonObject.length; i++) {
                var id = i + 1;
                var fName = jsonObject[i].firstName;
                var lName = jsonObject[i].lastName;
                var age = jsonObject[i].age;
                var sex = jsonObject[i].sex;
                var date = jsonObject[i].date;

                console.log(`${id}`);
                console.log(`${fName}`);
                console.log(`${lName}`);
                console.log(`${age}`);
                console.log(`${sex}`);
                console.log(`${date}`);

                var row = tableBody.insertRow(i);

                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);
                var cell5 = row.insertCell(4);
                var cell6 = row.insertCell(5);

                cell1.innerHTML = `${id}`;
                cell2.innerHTML = `${fName}`;
                cell3.innerHTML = `${lName}`;
                cell4.innerHTML = `${age}`;
                cell5.innerHTML = `${sex}`;
                cell6.innerHTML = `${date}`;

            }
        });
    </script>
</body>

</html>